<div class="vien-thong">
    <div class="so-lieu">
        <h1>39</h1>
        <p>Số lượng bưu cục</p>
        <div class="bdb"></div>
        <h1>911</h1>
        <p>Số lượng hố ga cáp</p>
        <div class="bdb"></div>
        <h1>554</h1>
        <p>Số lượng trạm viễn thông</p>
        <div class="bdb"></div>
        <h1>1,056</h1>
        <p>Chiều dài tuyến dây cáp truyền dẫn(km)</p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1vOYSM5ERm_yJwMrdSGLBcZc95Rs&ehbc=2E312F" width="640" height="480"></iframe>
    </div>
    <div class="so-luong">
        <p>SL trạm viễn thông theo đơn vị hành chính</p>
    </div>
</div>