<body>
    <div *ngIf="href == 'do-an-quy-hoach-chi-tiet'" class="do-an-quy-hoach-chi-tiet tabcontent">
        <app-do-an-quy-hoach></app-do-an-quy-hoach>
    </div> 
    <div *ngIf="href == 'xuat-bao-cao'" class="xuat-bao-cao tabcontent">
        <app-xuat-bao-cao></app-xuat-bao-cao>
    </div> 
    <div *ngIf="href == 'khu-chuc-nang'" class="khu-chuc-nang tabcontent">
        <app-khu-chuc-nang></app-khu-chuc-nang>
    </div>

    <div *ngIf="href == 'hien-trang'" class="hien-trang tabcontent">
        <app-hien-trang></app-hien-trang>
    </div>
    <div *ngIf="href == 'quy-hoach'" class="quy-hoach tabcontent">
        <app-quy-hoach></app-quy-hoach>
    </div>  
</body>