<div class="thoat-nuoc">
    <div class="so-lieu">
        <h1>313</h1>
        <p>Số lượng miệng xả</p>
        <div class="bdb"></div>
        <h1>6</h1>
        <p>Số lượng trạm XLTN</p>
        <div class="bdb"></div>
        <h1>70,580</h1>
        <p>Công xuất trạm XLTN (m3/ngày đêm)</p>
        <div class="bdb"></div>
        <h1>4,122</h1>
        <p>Chiều dài cống thoát nước (km)</p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1vOYSM5ERm_yJwMrdSGLBcZc95Rs&ehbc=2E312F" width="640" height="480"></iframe>
    </div>
    <div class="chieu-dai">
        <p>Chiều dài cống thoát nước đơn vị hành chính</p>
    </div>
</div>