<div class="congtrinh-top">
    <div class="solieu">
        <h1>35</h1>
        <p>Công trình cao tầng</p>
        <div class="bdb"></div>
        <h1>0</h1>
        <p>Công trình ngầm</p>
        <div class="bdb"></div>
        <h1>3</h1>
        <p>Công trình xây dựng</p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1vOYSM5ERm_yJwMrdSGLBcZc95Rs&ehbc=2E312F" width="640" height="480"></iframe>
    </div>
    <div class="phan-loai">
        <p>Phân loại công trình xây dựng</p>
    </div>
</div>