<!-- <nb-action>
    <button class="menu active " (click)="openMenu($event, '.xaydung')">Công Trình Xây Dựng</button>
    <button class="menu" (click)="openMenu($event, '.giaothong')">Giao Thông</button>
    <button class="menu" (click)="openMenu($event, '.trunghathe')">Hệ Thống Cấp Điện Trung Hạ Thế</button>
    <button class="menu" (click)="openMenu($event, '.cayxanh')">Cây Xanh</button>
    <button class="menu " (click)="openMenu($event, '.chieusang')">Chiếu Sáng</button>
    <button class="menu  " (click)="openMenu($event, '.thoatnuoc')">Thoát Nước</button>
    <button class="menu " (click)="openMenu($event, '.vienthong')">Viễn Thông</button>
    <button class="menu " (click)="openMenu($event, '.dothi')">Môi Trường Đô Thị</button>
    <button class="menu " (click)="openMenu($event, '.capnuoc')">Cấp Nước</button>
</nb-action>
<div class="hientrang-body">
    <div class="body-left">
        <h1>35</h1>
        <p>Công trình cao tầng</p>
        <div class="bdb"></div>
        <h1>0</h1>
        <p>Công trình ngầm</p>
        <div class="bdb"></div>
        <h1>3</h1>
        <p>Công trình xây dựng</p>
    </div>
</div> -->