<div id="mySidenav" class="sidenav">
    <ul class="menu-items">
        <li class=" menu-item active">
            <a class="list " title="Quy hoạch khu chức năng" href="/khu-chuc-nang"><span class="menu-title">Quy hoạch khu chức năng</span></a>
        </li>
        <li class=" menu-item">
            <a class="list" title="Quy hoạch khu chức năng" href="/do-an-quy-hoach-chi-tiet"><span class="menu-title">Đồ án quy hoạch chi tiết</span></a>
        </li>
        
        
        <li class=" menu-item">
            <a  title="Hạ tầng kỹ thuật" style="cursor: pointer;" (click)="tonggle()">
                <span class="menu-title">Hạ tầng kĩ thuật</span>
            </a>
            <ul class="menu">
                <li>
                    <a class="list" title="Hiện trạng" href="/hien-trang">
                        <span class="menu-title ng-tns-c67-3">Hiện trạng</span>
                    </a>
                </li>
                <li>
                    <a class="list" title="Quy hoạch" href="/quy-hoach">
                        <span class="menu-title ng-tns-c67-4">Quy hoạch</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a class="list" title="Xuất báo cáo" href="/xuat-bao-cao"><span class="menu-title">Xuất báo cáo</span></a>
        </li>
    </ul>     
</div>