<div class="container">
    <div class="row">
        <div class="column column-left">
            <div class="card card1">
                <select class="select-name" >
                    <option value="">Thủ dầu một</option>
                    <option value="2">Thủ dầu 2</option>
                    <option value="3">Thủ dầu 3</option>
                    <option value="4">Thủ dầu 4</option>
                </select> 
                <select class="select-name" >
                    <option value="">Quy hoạch chi tiết</option>
                    <option value="2">Quy hoạch chung</option>
                    <option value="3">Quy hoạch nông thôn</option>
                    <option value="4">Quy hoạch phân khu</option>
                </select>
                <select class="select-name" >
                    <option value="">Mục đích sử dụng đất</option>
                    <option value="2">Đất bệnh viện</option>
                    <option value="3">Đất quốc phòng</option>
                    <option value="4">Đất quy hoạch</option>
                </select>
            </div>
            <div class="card card2">
              
                <nb-action>
                    Biểu đồ theo đơn vị hành chính (ha)
                </nb-action>
            </div>
        </div>
        <div class="column column-right">
            <div class="card card3">
                <nb-action>
                    Mục đích sử dụng đất
                </nb-action>
                
            </div>
            
            <div class="card card4">
                <nb-action>
                    Biểu đồ mục đích sử dụng đất quy hoạch chi tiết qua các năm (ha)
                </nb-action>
                <ngx-charts-line-chart
                    
                    [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [results]="multi"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>
